body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    height: 100vh;



}
.padre{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;


}



.borroso{
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url('../img/fondoLogin.png');
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 1;
}
.hijo{
    width: 400px;
    padding: 40px;
    background-color: #00ab69;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    

}
.titulo{
    color: white;
    margin-bottom: 30px;

}
.saludo{   
    align-items: center;
    position: relative;
    color: #FFFFFF;
    left: 20px;

}

.form input{
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 16px;
    color: white;

}
.form .user::placeholder{
    color: white;

}
.form .pass::placeholder{
    color: white;

}

.user, .pass{
    background-color: #00ab69;
    
}

.btn{
    width: 85%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

}
.btn:hover{
    background-color: #45a049;

}
.form input:focus{
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
    background-color: white;
    border: 2px solid #4CAF50;
    color: #333;
    transition: all 0.5s ease;


}
.form input::placeholder{
    color: #999;

}

.header{

    height: 70px;
    background-color: #00ab69;
    top: 0px;
    width: 100vw;
    position: absolute;
    display: flex;
    gap: 5px;
    flex: 1;

    z-index: 3;

    
}   
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 20px;
    margin: 0px 20px 0px 0px;
}

a{
    text-decoration: none;
    color: black;
}

.cuerpo{
    top: 90px;
    position: absolute;
    background-color: rgba(0, 171, 105, 0.2);
    border-radius: 12px;
    width: 90%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    scrollbar-width: none;


    z-index: 2;
}

.contenedor{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 350px;
    background-color: #00ab69;
    margin: 30px;
    border-radius: 12px;
    
}

.logos{
    width: 170px

}
.boton{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #008B57;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

}
.boton:hover{
    background-color: #00C97F;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

p{
margin: 30px;
text-align: center;
}

.logout{
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 10px;
    height: fit-content;
    border: none;
    border-radius: 8px;
    background-color: #008B57;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;





}
.logout:hover{
    background-color: #00C97F;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}